
*{	
	/*border: solid;*/
	font-family: 'Ubuntu', sans-serif;
}
/*** ***/
.column-left{ float: left; width: 30%; padding: 0; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
/*** COLUMN ALIGNMENT ***/

#regServers{
	padding-top: 2.5em;
	float: left;
	margin-left: -2em;

}
#customTags{
	float: left;
	padding-top: 2.5em;
	margin-left: 1.5em;

}

#wrapper{
	position: relative;

}
#header{

}

#logo {
	width: 150px;
	height: 120px;
}

#sidebar {
	float: left;
	margin: 0 auto;
	margin-left: 1.5em;
	padding: 0;
	width: 23%;
	font-size: .9em;
}
#sidebar li{
	margin: 0 auto;
	padding: 0;
}

#footer{
	position: absolute;
	left: 25em;
	bottom: -27em;

}

/*** END OF TWEAKS ***/